<!DOCTYPE html>
<html>
<head>
    <title>{{ site.title }}yyy</title>
</head>
<body>
    <header>
        <h1>Deopark의 Blog {{ site.title }}...</h1>
    </header>

    <main>
        {{ content }}
        
        <!-- BLOG-POST-LIST:START -->- Mon Dec 08 2025 10:34 AM  
- [WRO 2025 International Final - Singapore](https://blog.naver.com/deoneo/224102640398?fromRss=true&trackingCode=rss)<br>- Wed Aug 27 2025 9:49 AM  
- [Igniting a New Era: The Launch of OSC](https://blog.naver.com/deoneo/223985588764?fromRss=true&trackingCode=rss)<br>- Fri Aug 15 2025 9:59 AM  
- [WRO 2025 KOREA - 중등부 인상적인 시상대](https://blog.naver.com/deoneo/223971654823?fromRss=true&trackingCode=rss)<br>- Fri Aug 15 2025 9:41 AM  
- [WRO 2025 KOREA - 중등부 - 가장 어려웠던 미션](https://blog.naver.com/deoneo/223971641393?fromRss=true&trackingCode=rss)<br>- Tue Aug 12 2025 3:52 PM  
- [WRO 2025 KOREA - 나는 코치로서 이것을 증명해야 한다.](https://blog.naver.com/deoneo/223968560088?fromRss=true&trackingCode=rss)<br><!-- BLOG-POST-LIST:END -->
    </main>

    <footer>
        <p>&copy; 2025 내 블로그</p>
    </footer>
</body>
</html>
